<!-- FLOATING CHAT ICON -->

<div class="chat-bubble" (click)="toggleChat()">
  💬
</div>


<!-- CHAT WINDOW -->

<div class="chatbot-container" *ngIf="isOpen">

  <div class="chat-header">

    🍪 Crumb Co Assistant

    <span class="close-btn" (click)="toggleChat()">✕</span>

  </div>


  <div class="chat-body" #chatBody>

    <div *ngFor="let msg of messages">

      <!-- USER MESSAGE -->

      <div *ngIf="msg.sender=='user'" class="user-msg">
        {{msg.text}}
      </div>


      <!-- BOT MESSAGE -->

      <div *ngIf="msg.sender=='bot'" class="bot-msg">

  <!-- BOT TEXT -->
  <div *ngIf="msg.text" class="bot-text">
    {{msg.text}}
  </div>

  <!-- PRODUCTS -->
  <div class="product-card" *ngFor="let p of msg.products">

    <img src="{{p.img}}" class="product-img">

    <div class="product-name">{{p.name}}</div>

    <div class="product-price">₹{{p.price}}</div>

    <button class="cart-btn" (click)="addToCart(p)">
      Add to Cart
    </button>

  </div>
  <!-- GO TO CART BUTTON -->
<button 
  *ngIf="msg.showCartButton"
  class="go-cart-btn"
  (click)="goToCart()">

  🛒 Go to Cart

</button>

  <!-- SUGGESTIONS -->
  <div class="suggestions" *ngIf="msg.suggestions">

    <button
      *ngFor="let s of msg.suggestions"
      (click)="selectSuggestion(s)"
      class="suggestion-chip">

      {{s}}

    </button>

  </div>

</div>

    </div>


    <!-- BOT TYPING -->

    <div *ngIf="botTyping" class="typing">

      <span></span>
      <span></span>
      <span></span>

    </div>

  </div>


  <div class="chat-input">

    <input
      [(ngModel)]="message"
      [placeholder]="placeholderText"
      (keyup.enter)="send()"
    />

    <button class="send-btn" (click)="send()">

      <svg width="18" height="18" viewBox="0 0 24 24" fill="none">

        <path d="M22 2L11 13"
          stroke="#ffe0b2"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"/>

        <path d="M22 2L15 22L11 13L2 9L22 2Z"
          stroke="#ffe0b2"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"/>

      </svg>

    </button>

  </div>

</div>