<nav>
  <a routerLink="/thecrumbco" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/thecrumbco/products" routerLinkActive="active">Products</a>
  <a routerLink="/thecrumbco/cart" routerLinkActive="active">Cart</a>
  <!-- <a routerLink="/thecrumbco/checkout" routerLinkActive="active">Checkout</a> -->
  <a routerLink="/thecrumbco/about" routerLinkActive="active">About us</a>
  <a routerLink="/thecrumbco/favorites" routerLinkActive="active">Favorites</a>
  <a routerLink="/thecrumbco/admin" routerLinkActive="active" >Admin</a>
  <a routerLink="/thecrumbco/signup" routerLinkActive="active">Sign Up</a>  
</nav>
<router-outlet></router-outlet>