<div class="favorites-list">
  @for (item of favoriteItems; track item.id) {
    <div class="product-item">
      <div class="item-actions">
        <button class="remove-icon-btn" (click)="removeFromFavorites(item.id)" title="Remove from Favorites">
          <span class="material-icons">close</span>
        </button>
      </div>
      <img [src]="item.img" alt="">
      <h3>{{ item.name }}</h3>
      <p>{{ item.desc }}</p>
      <p>{{ item.price | currency:'INR' }}</p>
      <button class="add-to-cart-btn" (click)="addToCart(item)">Add to Cart</button>
    </div>
  }
</div>
  